@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-primary text-text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.li-link-hover {
  @apply hover:scale-110 transition-all;
}

.li-link-hover img {
  @apply hover:cursor-pointer hover:scale-110;
}

.a-link-hover {
  @apply hover:underline-offset-4 hover:underline;
}

.purple-button {
  @apply bg-purple-500 w-[9.25rem] h-[3.125rem] rounded-md
}